html, body {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1565858475516-524ebde1fe29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2055&q=80);
    background-size: cover;
    background-position: center;
    background-color: #051f35;
    /*background-blend-mode: screen;*/
}
* {
color: white;
}

.heading {
    weight: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;

}

.title {
    font-family: 'Kristen ITC';
    color: #008080;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    font-weight: normal;
    }

.subtitle {
    font-family: 'Lucida Handwriting';
    color:#00A0F0;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}

.register {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-family: 'Kristen ITC';
    margin: 50px auto;
    display: block;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1000ms; color 1000ms;
}
.register:hover{
    background-color: white;
    color: #222222;
    cursor: pointer;
    transition: background-color 1000ms; color 1000ms;
}