
 html,body {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1466854076813-4aa9ac0fc347?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
    background-size: cover;
    background-position: center;
    background-color: #051f35;
    /*background-blend-mode: screen;*/
}
* {
    color: white;
}

.heading {
    width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;

}

.title {
    text-align: center;
    color: #804090;
    font-size: 80px;
    font-family: 'Courier New';
    font-weight: normal;
    margin-top: 0px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Bradley Hand ITC';
}

.register {
    width: 150px;
    height: 50px;
    font-weight: bolt;
    font-family: 'Kristen ITC';
    margin: 50px auto;
    display: block;
    background-color: rgba(0,0,0,0);
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1000ms; color 1000ms;

}
.register:hover{
    background-color: white;
    color: #222222;
    cursor: pointer;
    transition: background-color 1000ms; color 1000ms;
}